.service-section {
    margin-inline: 1.5em;
}
.service-section .service-icon {
    width: 6em;
    height: 6em;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    color: #663399;
}