.logo-holder {
    margin-right: 7em;
}

.logo-holder>img {
    height: 30px;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    position: relative;
}

.navbar a {
    color: #000000;
    text-decoration: none;
    transition: border 0.5s ease-in-out;
}

.navbar li {
    padding: .5em 1em;
    margin-inline: 1em;
    cursor: pointer;
}

.navbar li:hover {
    border-bottom: 2px solid #6633999d;
}

.active-menu {
    border-bottom: 2px solid #663399;
}

.active-menu--indicator {
    position: absolute;
    /* left: 9%; */
    /* left: 42%; */
    /* left: 77%; */
    bottom: 0;
    background-color: #663399;
    width: 15%;
    height: 3px;
}

@media screen and (max-width: 768px){
    .navbar {
        display: none;
    }
}