.main {
  width: 100%;
  text-align: center;
}
.articles {
  height: 100vh;
  padding: 2em;
}
.logo-holder { text-align: start; }
.logo-holder img {
  width: 5em;
}
.hero-div { display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100%; }
.hero-div h3 {
  font-size: 4rem;
  font-weight: 200;
}
.hero-div h1 {
  font-size: 15rem;
  background: -webkit-linear-gradient(
    0deg, 
    rgba(129,132,232,1) 0%, 
    rgba(158,186,230,1) 18%, 
    rgba(194,191,226,1) 46%, 
    rgba(237,197,235,1) 69%, 
    rgba(238,174,202,1) 87%, 
    rgba(238,174,202,1) 87%, 
    rgba(255,134,160,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.service-section {
  background-color: #A262E2;
  color: #fff;
  flex-direction: column;
  justify-content: space-evenly;
}
.services-top, .services-bottom {
  margin-bottom: 1em;
  width: 100%;
}
.h2 { font-size: 3rem; font-weight: 400; }
.h6 { font-size: 2rem; font-weight: 300; }

/* ----- Contact Section ----- */
.contact-section { 
  background-color: rgba(250, 250, 250, 0.75);
  position: relative;
}
.contacts-holder { 
  justify-content: space-evenly; 
  height: 75%;
}
.contact-icons svg{
  width: 4em;
  height: 4em;
  margin-right: 1em;
}
.socials-holder { margin-top: 2em; }
.socials-holder svg {
  width: 2em;
  height: 2em;
  margin-inline: 2em;
}
.chat-with-btn {
  background-color: #663399;
  color: #fff;
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 30px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  padding: 1em 2em;
  justify-content: space-between;
  margin: auto;
}
.light-btn, .dark-bg {
  position: absolute;
}
.light-btn {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em;
  right: 10px;
  top: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.dark-bg {
  background-color: rgba(0, 0, 0, 0.966);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: 100% 100%;
}
.dark-bg:hover {
  background: radial-gradient(
      circle,
      transparent 160px,
      rgba(0, 0, 1, 0.966) 150px
  );
  transition: all 2s ease;
}
/* ----- End Contact Section ------ */
/* ----- About Section ------ */
.about-section {
  padding: 2em 4em;
}
.about-section--text {
  height: 70%;
}
.about-section--text>p{
  max-width: 600px;
  font-size: 1.5rem;
  text-align: justify;
  font-weight: 300;
  padding: 1em;
}
.about-section--text>div{
  max-width:500px;
  padding: 1em;
}
/* ----- End About Section ------ */