/* main {
    max-width: 85%;
    margin: auto;
} */

.service-section, .how-work-section--wrapper, .testomonial-wrapper, .hero-wrapper {
  max-width: 85%;
  margin: auto;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-bottom: 1.5em;
}

.hero-text h1, .hero-text h4 {
  font-weight: 400;
}

.hero-text h1 {
  font-size: 2.75rem;
}

.hero-text h4 {
  width: 50%;
}

.hero-btn {
  background-color: #663399;
  border: none;
  padding: .75em 2em;
  color: #fff;
  width: 55%;
  border-radius: 20px 0 20px 0;
}

.hero-image--wrapper img{
  max-width: 600px;
}

.service-section--wrapper {
  background: url('/assets/img/service-blob.png') no-repeat;
  background-size: auto;
  background-position: center right;
  padding: 4em 0;
}

.services-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-block: 3em;
}

.how-work--wrapper {
  padding: 1em 0;
  background: url('/assets/img/how-work--blob.png') no-repeat;
  background-position: center left;
  background-size: contain;
}

.how-work--section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.how-work--section p {
  width: 60%;
}

.how-work--section img {
  width: 400px;
}

.testomonial-wrapper {
  padding-block: 3em;
}

.testomonals {
  display: flex;
  padding-block: 3em .5em;
  overflow-x: hidden;
  gap: 2em;
}

.testomonial-handler--wrapper {
  padding-inline-start: 7em;
}

.testomonial-handlers {
  display: inline-block;
  background-color: #c4c4c4;
  width: 60px;
  height: 10px;
  margin-right: .5em;
  border-radius: 5px;
  cursor: pointer;
}

.active-testomonial--handler {
  background-color: #676767;
}
